<div class="row">
  <div class='col-md-6 text-center'>
  <h1>New Student</h1>
    <form ng-submit='addStudent()' class='form-inline' role='form'>
      <div class='form-group'>
        <input type='text' ng-model='studentName' class='form-control' placeholder='Enter Name'>
      </div>
      <button type='submit' class='btn btn-default'>Submit</button>
    </form>
  </div>
  <div class='col-md-3 col-md-offset-3 col-xs-6 col-xs-offset-3 text-center'>
    <h1>Roster</h1>
    <h3>Click to edit</h3>
    <ul class="list-unstyled">
      <li class="text-justify" ng-repeat="item in students">
        <span ng-click="editing = true" ng-hide="editing">
          {{item.name}} <button class="btn btn-danger pull-right" ng-click="deleteStudent(item)">Expell</button>
        </span>
        <span class="form-group" ng-show="editing" ng-submit="editing = false">
          <form class="form-inline" role="form">
            <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
            <button class="btn btn-default btn-sm" type="submit">Save</button>
          </form>
        </span>
      </li>
    </ul>
  </div>
</div>
