<div>
  <h1 class="text-center">Sign-in, please</h1>
  <ul class='list-unstyled'>
    <li ng-repeat="item in students | orderBy: 'name'">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          {{ item.name }}
          <button ng-click='signIn(item)' ng-show='!item.present' type='submit' class='btn btn-warning btn-block'>Sign-in</button>
          <button ng-click='signOut(item)'ng-show='item.present' type='submit' class='btn btn-danger btn-block'>Sign-out</button>
          <br>
        </div>
      </div>
    </li>
  </ul>
</div>
