<div class='row'>
    <div class='col-sm-6'>
    <h2 class='text-left'>Present</h2>
    <ul class='list-unstyled'>
      <li ng-repeat="item in filteredStudents = (students | filter: {present: true} | orderBy: 'name')">
          <div class="col-md-4 text-center box present">
        {{item.name}}
        <br>
        <i class="fa fa-user fa-3x student-image"></i>
      </div>
    </div>
      </li>
    </ul>
  <div class="col-sm-6">
    <h2 class="text-left">Absent</h2>
    <ul class='list-unstyled'>
      <li ng-repeat="item in filteredStudents = (students | filter: {present: false} | orderBy: 'name')">
          <div class="col-md-4 text-center absent">
        {{item.name}}
        <br>
        <i class="fa fa-user fa-3x student-image"></i>
      </div>
      </li>
    </ul>
  </div>
</div>
